:root {
  --color-white: rgb(255, 255, 255);
  --color-orange: rgb(249, 178, 0);
  --color-orange-background: rgb(239, 177, 55);
  --color-orange-underline: rgb(236, 161, 0);
  --color-orange-text: rgb(238, 192, 107);
  --color-gray-light: rgb(237, 239, 238);
  --color-grey: rgb(193, 196, 195);
  --color-light-grey: rgb(237, 239, 238);
  --color-green: rgb(0, 70, 53);
  --color-footer-background:rgb(46, 52, 50);
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

.distance {
  padding: 10px 100px;
}

.new__top-btn {
  background-color: var(--color-orange);
  padding: 10px;
  font-size: 12px;
}
.new__top-btn .fas {
  color: #fff;
  margin-right: 5px;
}

.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.short {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
  margin: 20px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

h3 {
  font-size: 23px;
  font-weight: var(--weight-semi-bold);
  color: var(--color-green);
  margin: 0;
}

h5 {
  font-size: var(--font-small);
  font-weight: 100;
  color: var(--color-grey);
  margin: 0;
}

p {
  font-size: var(--font-micro);
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
}
#navbar .navbar__logo {
  width: 150px;
}
#navbar .navbar__menu {
  display: flex;
}
#navbar .navbar__menu .text__orange {
  color: var(--color-orange);
}
#navbar .navbar__menu .navbar__menu__item {
  padding: 8px 12px;
  font-weight: var(--weight-semi-bold);
}
#navbar .navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  background-color: var(--color-orange);
  font-size: 20px;
  color: #fff;
  padding: 5px 7px;
  display: none;
}

#header {
  background: url("../img/bild_jungle.jpeg") center/cover no-repeat;
}
#header .header__title {
  color: var(--color-orange);
  margin-bottom: 0;
}
#header .header__description {
  color: white;
  width: 60%;
  height: 100px;
}
#header .direction {
  background-color: var(--color-orange);
  display: flex;
  margin-bottom: 50px;
}
#header .direction li {
  padding: 3px 8px;
  font-size: 12px;
}
#header .direction .direction__actual {
  color: white;
}

#news__container {
  display: flex;
  justify-content: space-between;
}
#news__container .news {
  width: 60vw;
  margin-right: 25px;
}
#news__container .news__container__left .news {
  margin: 0 0 0 10px;
}
#news__container .news__container__left .news__top__container .news__top {
  display: flex;
  align-items: center;
  border-bottom: 3px solid var(--color-orange-underline);
  margin: 15px 0 0 0;
}
#news__container .news__container__left .news__top__container .news__top .news__top__img {
  width: 200px;
  height: 170px;
}
#news__container .news__container__left .news__top__container .news__top .new__top-btn {
  float: right;
}
#news__container .news__container__left .news__top__container .news__top .short {
  margin-bottom: 2px;
}
#news__container .news__container__left .news__below__container {
  padding-top: 60px;
}
#news__container .news__container__left .news__below__container .news__below {
  margin: 15px 0 0 0;
}
#news__container .news__container__left .news__below__container .news__below .news {
  border-bottom: 2px solid var(--color-light-grey);
  padding-bottom: 25px;
}
#news__container .news__container__left .news__below__container .news__below .news__below-btn {
  color: var(--color-orange-text);
  text-decoration: underline;
}
#news__container .news__container__left .news__below__container .news__below .end {
  border-bottom: 0;
}
#news__container .contact img {
  width: 100%;
}
#news__container .contact ul {
  padding: 0;
  font-size: var(--font-micro);
}
#news__container .contact li {
  margin-bottom: 10px;
}
#news__container .contact .fas {
  color: var(--color-grey);
  margin-right: 10px;
  font-size: 18px;
}
#news__container .contact .text__orange {
  color: var(--color-orange-text);
  text-decoration: underline;
}
#news__container .contact .contact__title {
  color: var(--color-light-grey);
  margin: 0;
}
#news__container .contact .contact__adress {
  display: flex;
}
#news__container .contact .contact__person__name {
  color: black;
}
#news__container .contact .contact__person__women {
  padding: 25px;
  background-color: var(--color-light-grey);
  margin-bottom: 20px;
}
#news__container .contact .contact__person__men {
  background-color: var(--color-light-grey);
  padding: 25px;
}

#contact__form__container {
  background: url("../img/bild_jungle.jpeg") center/cover no-repeat;
  color: #fff;
  margin-top: 20px;
}
#contact__form__container .contact__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#contact__form__container .contact__form .contact__form__left input[type=text], #contact__form__container .contact__form .contact__form__left select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}
#contact__form__container .contact__form .contact__form__left .test {
  display: none;
}
#contact__form__container .contact__form .contact__form__right {
  width: 100%;
  height: 100%;
}

.contact__check {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
.contact__check .contact--checkbox {
  display: flex;
  font-size: var(--font-micro);
}
.contact__check .contact--checkbox input[type=checkbox] {
  background-color: transparent;
  margin-right: 10px;
}
.contact__check .contact--checkbox .text__orange {
  color: var(--color-orange);
  text-decoration: underline;
}
.contact__check .contact__form__send {
  background-color: var(--color-orange);
  padding: 8px;
  font-size: 10px;
}
.contact__check .contact__form__send .fas {
  color: #fff;
  margin-right: 5px;
}

#footer {
  background-color: var(--color-footer-background);
  display: flex;
  justify-content: space-between;
  font-size: var(--font-micro);
}
#footer .rights_note a {
  color: var(--color-orange);
  text-decoration: underline;
  margin-right: 10px;
}
#footer .fas {
  font-size: 15px;
  color: white;
  background-color: var(--color-orange);
  padding: 5px;
  margin-right: 5px;
}
#footer .rights {
  color: #fff;
}
#footer .rights .text__orange {
  color: var(--color-orange);
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  :root {
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .distance {
    padding: 15px;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
  }
  #navbar .navbar__logo {
    width: 100px;
  }
  #navbar .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding-left: 0;
    display: none;
  }
  #navbar .navbar__toggle-btn {
    display: block;
    background-color: var(--color-orange);
    color: #fff;
    font-size: var(--font-medium);
    top: 16px;
    right: 16px;
  }

  #news__container {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
